/* == css reset == */
* { 
  margin: 0; padding: 0; 
}

body {
    font-family: 'Titillium Web', sans-serif;
}

/* == MENU == */
.cabecalho {
  width: 100%;
  height: 65px; 
  float: left; 
  background-color: #8A05BE;
  margin-bottom: 50px;
}

.logo {
   width: 100px;
   height: 56px;
   float: left;
   margin-top: 3px;
   margin-left: 10px;
   background: url(../img/logo_branco.png) center center/100px no-repeat;
   font-size: 0px; 
}

.btn-default {
 margin-left: 300px;
 margin-top: 13px;
 color: #fff;
 background-color: #8A05BE;
 border-color: #fff;
 }

 /* == FIM DO MENU == */

/* margin-left: 25px;
  margin-bottom: -30px;
  border-radius: 5px; 
  margin-top: 20px;*/

/* == ADMINISTRADOR == */

.admin2 {
  width: 100%;
  height: 568px;
  background-color: rgb(43, 226, 186);
  
}

.admin h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.admin h2 {
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 20px;
}

.admin p {
  margin-left: 20px;
}

.text-center {
  width: 70%;
  margin: 0 auto;


}


