/*@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');*/

body {
font-family: 'Titillium Web', sans-serif;
background-color: dimgray;
}


/*menu*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #431842;/*roxo*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: lightgray;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:lightgray;
  background-color:#581b58;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*imagem do logo do menu*/
.logoMenu{
	width: 200px;
	height: 100px;
	margin-left:10px;
}



/*barra de pesquisa*/
#txtBusca{
  float:left;
  float:right;
  background-color:transparent;
  padding-left:5px; 
  font-size:18px;
  border:none;
  height:50px;
  width:370px;
  color: white;
  margin-top:-40px;
  margin-right:20px;
}
 
#divBusca img{
  float:left;
  margin-left: 135px;
  height:35px;
  width: 35px;

}
 
#divBusca{
  border:solid 2px #c9c9c9;
  border-radius:2px;
  height:40px;
  width:400px;
  margin:10px auto ;
  margin-right: 150px;
  float: right ;
}

.divbarradepesquisa{
  position: absolute;
  width: 100%;
  height: 60px;
  background-color:#431842;/*roxo*/
  margin-top: -17px;
  margin-left: -16px;
  
}

.btnBuscar{
		border: 2px solid #ffff;
		padding:6px 10px;
    border-radius:2px;
		color:#ffff;
		font-size:14px;
		line-height:20px;
		text-transform:uppercase;
		letter-spacing: .1em;
    font-weight: bold;
    /*margin-bottom:400px;*/
    margin-left:410px;
    float:left;
    background-color:transparent;
		}
	.btnBuscar:hover{
		border: 3px solid #ffff;
		color:purple;
    background-color:#ffff;

		}




/*Area dos livros*/

  .categoriaCaroussel{
    font-weight:bold;/*deixar as letras tipo negrito*/
    font-size:20px;
    text-transform:uppercase;/*todas letras em maiusculo*/
    letter-spacing: .1em;/*espaçamento entre as letras*/
    margin-bottom: 10px;
    color: gainsboro;
    
  } 
  
 /*linha de separar conteudo
 
    .categoriaCaroussel:after{
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      top: 15px;
      border-top: 1px solid #000;
  }

  .categoria1:after{
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      top: 15px;
      border-top: 1px solid #000;
  }
*/

	


/*STYLE CAROUSSEL*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.slider-container{
	width:80%;/*diminui a caixa de livros*/
    margin:0 auto;
    position:relative;
    margin-top: 200px;/*s slider ficar alto de mais ele fica bugado*/
    z-index: -99;
}

.item{
	border: 3px solid red;
	width:100%;/*diminui os livros*/
	height: 300px;
	position: relative;
	padding: 5px;
   
}

.slick-prev, .slick-next{
	color: black;/*botão de arrastar o slide*/
    background:black;
	border-radius: 50%;
	column-span: none;
	width: 60px;
	height: 60px;
	margin-left: 0.5%;
	z-index: 90;
	
}

/*.icon-slider2{
	float: right;
	margin-top: 11%;
	margin-left: 1%;
	padding: 20px;
	background-color: yellow;
	border: 3px solid red;

}

.icon-slider1{
	float: left;
	margin-right: 2px;
	margin-top: 11%;
	padding: 20px;
	background-color: yellow;
	border: 3px solid green;
}*/

.slider-image{
	width: 80px;/*tamanho da imagem*/
	height: 300px;
	border: 3px solid transparent;/*tem borda tranparente par a imagem ficar do mesmo tamanho*/
	position:relative;

}

.slider-image:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-delay: inherit;
    
}




