<!DOCTYPE html>
<html>
<head>
<title>My Books</title>
<link rel="stylesheet" type="text/css" th:href="@{css/homeBooks.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/reset.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/grid.css}">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js/menujs.js"></script>
<script type="text/javascript" src="js/email-notification.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8"/>
<script type="text/javascript" src="js/myBooks.js"></script>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <img src="img/logo_DEITADOBRANCO.svg" class="logoMenu" alt="stands livros">
  <a href="homeBooks">Inicio</a>
  <a href="myBooks">Minha Biblioteca</a>  
  <a href="#">Doados</a>
  <a href="#">Trocados</a>
  <a href="#">Empréstimos</a>
  <a href="editProfile.html" th:href="@{/editProfile}">Editar Perfil</a>
  <a href="#"th:href="@{/logout}"> Sair</a>  
</div>
<div id="main">
  <div class="divbarradepesquisa">
  <span style="font-size:35px;cursor:pointer; margin-left: 30px; color:white" onclick="openNav()">&#9776;</span>
  <!--barra de pesquisa-->
  <div id="divBusca">
      <input type="text" id="txtBusca" placeholder="Buscar..."/>
      <i class='fas fa-search' style='font-size:24px; color: white;margin-left: 136px; margin-top: 5px;'> 
      </i>
  </div>

  <!--final menu-->

    <!--Area dos livros/STANDS-->
  <section class="livros container">
    <h2 class="subtitulo" id="livros">em alta</h2>              
    <ul id="book-box" class="livros_lista">
    </ul>
        
  </section>
  
  <!--exemplo2-->
    <section class="livros container">
    <h2 class="subtitulo" id="livros">livros pra ler em horas aleatoria</h2>
        
    <ul class="livros_lista">
      <li class="grid-4">
      <div class="livros_icone">
        <img src="img/a%20culpa%20e%20das%20estrelas.jpg" alt="livros">
        </div>
        <h3>quero</h3>
        
      </li>
            
            <li class="grid-4">
      <div class="livros_icone">
        <img src="img/download.jpg" alt="livros">
        </div>
        <h3>quero</h3>
        
      </li>
            
            <li class="grid-4">
      <div class="livros_icone">
        <img src="img/harrypotter.jpg" alt="livros">
        </div>
         <h3>quero</h3>
      </li>
            
            <li class="grid-4">
      <div class="livros_icone">
        <img src="img/senhora.jpg" alt="livros">
        </div>
        <h3>quero</h3>
      </li>           
    </ul>        
  </section>
</div>
   
</body>
</html> 
 