body {
	font-family: 'Titillium Web', sans-serif;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 35px;
  color: #BA55D3;
  
}
input[type=text],[type=password],select {
  width: 100%;
  padding: 15px;
  border: 1px solid #BA55D3;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#colunaA{
	width: 35%;
	margin-left:10%;	
}

#group-1{
	padding-left: 5%;
	padding-right: 5%;	
	padding-top: 5%;	
	padding-bottom: 5%;			
	border: 1px solid #ccc;	
	border-radius: 4px;	
	border-color: #D42ABF;
}

#colunaB{
	width: 35%;
	margin-left:9%;
}

#group-2{
	padding-left: 5%;
	padding-right: 5%;	
	padding-top: 5%;	
	padding-bottom: 5%;			
	border: 1px solid #ccc;	
	border-radius: 4px;	
	border-color: #D42ABF;
	
}

#buttonsave {
  background-color: #BA55D3;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-left: 50%;
  margin-top: 10%;
}

#buttonsave:hover {
  color:purple ;

}

#buttoncancel {
  background-color: #BA55D3;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-left: 0%;
  margin-top: 10%;
}

#buttoncancel:hover {
  color:purple ;

}

.validation-message {   
    border:2px solid #FF1C19;
}