body {
	font-family: 'Titillium Web', sans-serif;	
	overflow-x: hidden;
}

.book-info {
	font-family: 'Titillium Web', sans-serif;
	color: white; 	
	background:  linear-gradient(135deg, #65799b 0%,#5e2563 100%);
	font-size: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #431842;/*roxo*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: lightgray;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:lightgray;
  background-color:#581b58;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*imagem do logo do menu*/
.logoMenu{
	width: 200px;
	height: 100px;
	margin-left:10px;
}

/*barra de pesquisa*/
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px; 
  font-size:18px;
  border:none;
  height:32px;
  width:226px;
  color: white;
}
 
#btnBusca{
  float:left;
  cursor:pointer;
  width: 15px;
  height: 17px;
  background-color: transparent;
  
  
}

#divBusca img{
  float:left;
  margin-left: 135px;
  height:35px;
  width: 35px;

}
 
#divBusca{
  border:solid 2px #c9c9c9;
  border-radius:2px;
  height:40px;
  width:400px;
  margin:-36px auto ;
  
}
.divbarradepesquisa{
  position: absolute;
  width: 100%;
  height: 60px;
  background-color:#431842;/*roxo*/
  margin-top: -17px;
  margin-left: -16px;
  
}

/*Area dos livros*/
.livros{
    padding:60px 0;
    
  }
.livros img{
  height: 200px;
}
  .livros_lista li{
    text-align:center;
  }

/*borda "EU QUERO"*/
.livros_lista li:hover{
    text-align:center;
  } 
  
  .livros_lista li h3{
    font-weight:bold;/*deixar as letras tipo negrito*/
    font-size:14px;
    line-height:25px;
    text-transform:uppercase;/*todas letras em maiusculo*/
    letter-spacing: .1em;/*espaçamento entre as letras*/
        margin-top: 10px;
    
  } 
  
  
 /* .livros_lista li h3:after{
    content:"";
    display:block;
    width: 60px;
    height: 3px;  
    background:#000;
    margin: 2px auto;
    
  }*/


  
  .livros_icone{
    z-index:1;
    padding:10px;
    margin-bottom: 2px;
    color: transparent;
	
  }
  

  /*linhasinha que sepera as coisas*/
    .livros:after{
        content:" ";
        display:block;
        width:100%;
        height:1px; 
        background:#000;
        margin: 14px auto;
        margin-bottom: 5px;
    margin-top: 5px;
    
    }


/*subtitulos*/
    .subtitulo{
    	font-family: 'Titillium Web', sans-serif;	
    	margin-top: 50px;
        font-size:25px;
        line-height:30px;
        letter-spacing: .1em;
        color:#000;
        text-transform:uppercase;
        text-align:center;
    }

/*linhasinha que sepera as coisas*/
    .subtitulo:after{
        content:" ";
        display:block;
        width:100%;
        height:1px; 
        background:#000;
        margin: 14px auto;
        margin-bottom: 40px;
    }



/*botãoZINHO não está usando mas deixei ai caso queira colocar algum botao e pá*/
	.btn{
		border: 3px solid #fec63e;
		padding:10px 30px;
		color:#fec63e;
		font-size:14px;
		line-height:20px;
		text-transform:uppercase;
		letter-spacing: .1em;
        font-weight: bold;
		margin-top: 20px;
		}
	.btn:hover{
		border: white;
		color:white;

		}


