/*MUDANÇA DE LOGIN PARA CADASTRO*/
* { 
box-sizing: border-box;
font-family: 'Titillium Web', sans-serif;
}
/* reset básico */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body, html {
  height: 100%;
  margin: 0;
 font-family: 'Titillium Web', sans-serif;
 font-family: 'Open Sans', sans-serif;
}

/* Classe dos Botões*/
.tablink {
  font-family: 'Titillium Web', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
 /* padding: 14px 16px;*/
  font-size: 17px;
	height: 55px;
    margin-top: -13px;
	width: 50%;
	background: none;
	color:  #D42ABF;
	padding: 5px;
	font-size: 18px;
  border-radius: 2px;
    margin-left: -14px;	
}

.tablink:hover {
  background:linear-gradient(135deg, #65799b 0%,#5e2563 100%);
    color:white;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#CadastrarLivro{
	
background-color: transparent;

}

#Atualizar {
	
background-color: transparent;
	
}

/*CSS DO MODAL INCIO*/

@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	background-size: cover;
}

/* Inicio do Modal*/
 #minhaDiv {
    background:linear-gradient(135deg, #65799b 0%,#5e2563 100%);
    /*background: -webkit-gradient(linear, left top, left bottom, from(#ac58aa), to(#7a61ab));
    background: -moz-linear-gradient(top,#ac58aa , #7a61ab);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ac58aa', EndColorStr='#7a61ab'); */
    padding: 174px;
    padding-bottom: 105px;
 }
 /*Botão que ativa o Modal*/
 #btnModal{
	width: 8%;
	background: none;
	border: 2px solid #D42ABF;
	color: #D42ABF;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin-left: 88%;
  margin-top: 2%;
  -webkit-transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;

}

 .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    height: 58px;
    
}
 .modal-header .close {
    margin-left: -26px;
    font-size: 25px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: 0;
    margin-left: 49%;
    width: 50%;
    max-width: 600px;
    min-width: 360px;
    max-height: 85%;
    -webkit-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
  -webkit-transition: all 0.5s ease-in-out;
}

/*Fim do Modal*/


/*box do login - conteudo do form*/
.cadLivro-box{
	
	height: 466px;
	box-sizing: border-box;
	padding: 40px;
	width: 445px;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
    margin-top: 58px;
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #D42ABF;
}

.textbox i{
	width: 26px;
	float: left;
	text-align: center;
}

.textbox input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}
::-webkit-input-placeholder {
   color: white;
}

/*Botão de Login normal*/

.btnCadastra{
	width: 65%;
	background: none;
	border: 2px solid #D42ABF;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 16%;
	border-radius: 4px;
}

.btnCadastra:focus {
  outline: none;
}
.btnCadastra:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.btnCadastra:hover,
.btnCadastra:focus {
  background-color:#D42ABF;
  background-image: linear-gradient(#D42ABF, #D42ABF);
}


/*Css do Cadastro*/

.btnAtualiza{
	width: 65%;
	background: none;
	border: 2px solid #D42ABF;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px;
	margin-top: 20px;
	
}

.btnAtualiza:focus {
  outline: none;
}
.btnAtualiza:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.btnAtualiza:hover,
.btnAtualiza:focus {
  background-color: #D42ABF;
  background-image: linear-gradient(#D42ABF, #D42ABF);
}

.atualizar-box
{
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 445px;
	height: 485px;
	box-sizing: border-box;
	padding: 40px;
	margin-top: 58px;
}

.textbox img
{	
	width: 18px;
	float: left;
	text-align: center;
}

/*Fim do Form*/

/*Grid*/

/* container */
.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
    @media (min-width: 1170px) {
        .container {
            max-width: 1170px;
            padding: 0;
        }
    }

/* linha */
.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }

    /* colunas */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
    /* duas colonas */
    @media (min-width: 480px) {
        .col-2 {
            width: 50%;
        }
    }

/* tres colunas */
    @media (min-width: 728px) {
        .col-3 {
            width: 33.3333%;
        }
    }

    /* sidebar */
    @media (min-width: 992px) {
        .col-content {
            width: 60%;
        }

        .col-sidebar {
           width: 40%;
        }
    }

 /* CSS SELECT */
 
.multiselect {
  width: 290px;
  margin-left: 2px;
  margin-top: 33px;


}

.selectBox {
  position: relative;
  color: black;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}
 

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*background: linear-gradient(135deg, #65799b 0%,#5e2563 100%);*/
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  border-radius: 1px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

