body {
  font-family: "Lato", sans-serif;
}

.formulario-suporte{

    width:60%;
    height:525px; 
    border-width:0px; 
    overflow:auto; 
    position: absolute;
    background: linear-gradient(135deg, #c9d3e2 0%,#c8a1cc 100%);
    color: white!important;
    border-radius: 2px;
    position: absolute;
    float: left;
    margin-left: -30%;
}

.supportnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background:linear-gradient(135deg, #65799b 0%,#5e2563 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.supportnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.supportnav a:hover{
  color: #f1f1f1;
}

.supportnav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.buttonExit{
  border: none;
  background: transparent;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}